# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# --- Arduino / ESP32 ---
build/
bin/
*.bin
*.elf
*.hex

# --- VS Code ---
.vscode/
.history/

# --- System Files ---
.DS_Store
Thumbs.db
desktop.ini
